<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">
 jdbc:mysql://us-cdbr-azure-west-c.cloudapp.net/pillarmysql
 		</property>
        <property name="hibernate.connection.username">b7652f91295174</property>
        <property name="hibernate.connection.password">157f33da</property>

        <mapping resource="Users.hbm.xml"/>
    </session-factory>
</hibernate-configuration>